<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mtsSdkSection" type="Sportradar.MTS.SDK.Entities.Internal.SdkConfigurationSection, Sportradar.MTS.SDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <!--MTS SDK Configuration-->
    <mtsSdkSection username="netbet_isnumeric" password="tGl8SfWWu2W6xKHq0zZa" host="mtsgate-ci.betradar.com" port="5671" bookmakerId="30120" limitId="2179" />
	<!--<mtsSdkSection host="mtsgate-ci.betradar.com" port="5671" bookmakerId="23998" limitId="1997" />-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--DB connection strings-->
  <connectionStrings>
    <add name="mysqlConnection" connectionString="Server=10.1.4.100;Database=netbet;Uid=betlogic;Pwd=Aa123456.;Pooling=true;Connection Timeout=90000;Max Pool Size=10000" />
  </connectionStrings>
  <!--Loging Configuration-->
  <appSettings>
    <add key="TicketLanguageCode" value="en" />
    <add key="TicketSendingInterval" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--Loging Configuration-->
  <log4net>
    <root>
		<!--<level value="ALL" />-->
      <appender-ref ref="console" />
      <appender-ref ref="file" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
	  <threshold value="ALL" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <threshold value="ALL" />
      <file value="EventsAndErrorsLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
	  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
		  <threshold value="ERROR"/>
		  <to value="p7w4o1r9k9t4r4k5@nextcalibur.slack.com" />
		  <from value="a.alvarez@nextcalibur.com" />
		  <subject value="Integration MTS Error Log" />
		  <smtpHost value="smtp.gmail.com" />
		  <port value="587"/>
		  <authentication value="Basic" />
		  <username value="a.alvarez@nextcalibur.com"/>
		  <password value="Aira123!"/>
		  <EnableSsl value="true" />
		  <bufferSize value="1" />
		  <lossy value="false" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		  </layout>
	  </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Dawn.Guard" publicKeyToken="234740ae15f786ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.12.0.0" newVersion="1.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.0.0" newVersion="3.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>